<template>
  <div>
    <b-nav vertical class="w-25">
      <b-nav-item active><router-link to="/">Home</router-link></b-nav-item>
      <b-nav-item active><router-link to="/ShowView">ShowView</router-link></b-nav-item>
      <b-nav-item active><router-link to="/Form">Form</router-link></b-nav-item>
      <b-nav-item active><router-link to="/Table">Table</router-link></b-nav-item>
      <b-nav-item><router-link to="/about">About</router-link></b-nav-item>
      <b-nav-item active><router-link to="/Counter">Counter</router-link></b-nav-item>
      <b-nav-item active><router-link to="/Users">Users</router-link></b-nav-item>
    </b-nav>
  </div>
</template>
