<template>
  <div id="app">
    <Mainlayout></Mainlayout>
  </div>
</template>
<script>
import Mainlayout from './components/Mainlayout.vue'
export default {
  components: {
    Mainlayout
  }
}
</script>
