<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add New
    </b-button>
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
      </form>

      <b-form-group
        label="Gender:"
        label-for="gender"
        :invalid-feedback="invalidFeedbackGender"
        :valid-feedback="validFeedbackGender"
        :state="stateGender"
      >
        <b-form-select
          id="gender"
          v-model="form.gender"
          :options="genderOptions"
          required
        ></b-form-select>
        <b-card class="mt-3" header="Form Data Result">
          <pre class="m-0">{{ form }}</pre>
        </b-card>
      </b-form-group>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>&nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import UserService from './UserService'
export default {
  data () {
    return {
      title: 'เพิ่มชื่อผู้ใช้ใหม่',
      form: {
        id: 1,
        name: '',
        gender: null
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'Male', text: 'ผู้ชาย' },
        { value: 'Female', text: 'ผู้หญิง' }
      ],
      userList: [],
      fields: ['id', 'name', 'gender', 'operation']
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new User')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่าต้องการลบ ' + user.name + ' หรือไม่', {
          title: 'กรุณากดยืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // userService.deleteUser(user)
            axios
              .delete('http://localhost:3000/users/id')
              .then(res => {
                console.log(res)
                this.getUser()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        gender: null
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handleSubmit()
    },
    handleSubmit (bvModalEvt) {
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      if (this.form.id > 0) {
        axios
          .put('http://localhost:3000/users/id', this.form)
          .then(res => {
            console.log(res)
            this.getUser()
          })
          .catch(err => {
            console.log('is not Update')
            console.log(err)
          })
      } else {
        axios
          .post('http://localhost:3000/users', this.form)
          .then(res => {
            console.log(res)
            this.getUser()
          })
          .catch(err => {
            console.log(err)
          })
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getUser () {
      axios
        .get('http://localhost:3000/users')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log('Error')
          console.log(err)
        })
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ต้องมีต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณาใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'กรุณาเลือกเพศ'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    console.log('Vue component is mounted.')
    this.getUser()
  }
}
</script>
