<template>
  <div>
    <my-counter begin="1" v-bind:style="styleObject" @inc="inc" @dec="dec">
      Counter MyNon
      <template v-slot:dec>
        -
      </template>
      <template v-slot:inc>
        +
      </template>
    </my-counter>
  </div>
</template>
<script>
import MyCounter from '../components/MyCounter.vue'
export default {
  data () {
    return {
      styleObject: {
        fontSize: '30px'
      }
    }
  },
  components: {
    'my-counter': MyCounter
  },
  methods: {
    inc: function (number) {
      console.log('Counter view inc ' + number)
    },
    dec: function (number) {
      console.log('Counter view dec ' + number)
    }
  }
}
</script>
